<footer class="footer">
    <div class="footer__carmudi">
        <div class="footer__camudi--head">
            <img th:src="@{upload/hinhAnh/img.png}" alt="">
            <p class="footer__camudi--p">
                Nền tảng hàng đầu trong lĩnh vực khóa học tại Việt Nam. Cam kết mang đến cho khách hàng trải
                nghiệm hoàn toàn , nhanh chóng và đáng tin cậy.
            </p>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-tiktok"></i>
            <i class="fa-brands fa-youtube"></i>
        </div>
        <div class="footer__camudi--footer">
            <div class="footer__footer--p">Đăng ký nhận bản tin</div>
            <div class="footer__footer--span">Nhận bản tin để không bỏ lỡ thông tin và khuyến mãi của khóa học</div>
            <div class="footer__footer--serch">
                <input type="text" class="footer__footer--input" placeholder="Nhập email của bạn">
                <span class="footer__input--span">Gửi</span>
            </div>
            <div class="footer__footer--ulli">
                <ul class="footer__footer--ul">
                    <span>Dịch Vụ</span>
                    <li class="footer__footer--li">Mua khóa học</li>
<!--                    <li class="footer__footer&#45;&#45;li">Bán xe ô tô</li>-->
<!--                    <li class="footer__footer&#45;&#45;li">Trở thành cộng tác viên</li>-->
                </ul>
                <ul class="footer__footer--ul">
                    <span>Hỗ Trợ</span>
<!--                    <li class="footer__footer&#45;&#45;li">Mua xe bảo hiểm ô tô</li>-->
<!--                    <li class="footer__footer&#45;&#45;li">Trả góp xe máy</li>-->
                    <li class="footer__footer--li">Câu hỏi thường gặp</li>
                    <li class="footer__footer--li">Liên hệ</li>
                </ul>
                <ul class="footer__footer--ul">
                    <span>Về khóa học</span>
                    <li class="footer__footer--li">Giới thiệu công ty</li>
                    <li class="footer__footer--li">Tin tức</li>
                    <li class="footer__footer--li">Chính sách bảo mật</li>
                    <li class="footer__footer--li">Điểu khoản sử dụng</li>
                    <li class="footer__footer--li">Cơ hội việc làm</li>
<!--                    <li class="footer__footer&#45;&#45;li">Chứng nhận Carmudi</li>-->
                </ul>
                <ul class="footer__footer--ul">
                    <span>Công Ty thành viên</span>
                    <li class="footer__footer--li">OtoS - Trang đăng tin uy tín tại Việt Nam</li>
                </ul>

            </div>
            <div class="footer__cuoiCung">
                <p>CÔNG TY TNHH MTV XE CLASSIFIED. Hotline: 02 8888 978 68 (Toàn quốc) Số ĐKKD: 0312648170
                    Địa chỉ: Tầng 6, Toà nhà Mê Linh Point, 2 Ngô Đức Kế, Phường Bến Nghé, Quận 1, Thành Phố Hồ Chí
                    Minh, Việt Nam. ©2023 by Car Classifieds Company Limited.
                    Carmudi Vietnam là một thành viên của fram^ Investments</p>
            </div>

        </div>

    </div>
    <script th:src="@{JS/login.js}"></script>
    <script th:src="@{JS/showVideo.js}"></script>


</footer>