<div class="hero">
    <div class="container">
        <div class="hero-content">
            <h1>Lớp Offline tại Hồ Chí Minh <span>👑</span></h1>
            <p>Hình thức học Offline phù hợp nếu bạn muốn được hướng dẫn và hỗ trợ trực tiếp tại lớp. Giờ học
                linh hoạt, phù hợp cả sinh viên và người đi làm.</p>
            <a href="#" class="cta-button">TƯ VẤN MIỄN PHÍ</a>
        </div>
        <div class="hero-image">
            <img th:src="@{upload/hinhAnh/img_1.png}" alt="Hero Image">
        </div>
    </div>
</div>